/* ./styles/styles.css */

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

#header {
  background-color: white;
}

.zola-anchor {
  padding-left: 0.5rem;
  opacity: .6;
}

.zola-anchor:hover {
  opacity: 1;
}

body {
  background-color: #9ff9ee !important;
}

/*
.image-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.image-row-item {
  flex: 1 1 22%;
  max-width: 25%;
}

.image-row-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
*/